<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Spotify MenuBar</string>
	<key>CFBundleExecutable</key>
	<string>SpotifyMenuBar</string>
	<key>CFBundleIdentifier</key>
	<string>com.oseungkwon.spotifymenubar</string>
	<key>CFBundleName</key>
	<string>SpotifyMenuBar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>재생 중인 곡 정보를 읽고 재생을 제어하기 위해 Spotify에 접근합니다.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 OseungKwon</string>
</dict>
</plist>
